<%= form_for block, url: block_path(block), remote: true, html: { class: 'form-horizontal block-form' } do |f| %>
  <%= hidden_field_tag :type, block.type %>
  <%= f.hidden_field :type %>

  <% block.fields.reject(&:nested?).each do |field| %>
    <%= render partial: "superb_text_constructor/blocks/fields/#{field.partial}", locals: { f: f, field: field } %>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit t('superb_text_constructor.shared.save'), class: 'btn btn-primary' %>
      <%= link_to t('superb_text_constructor.shared.cancel'), '#', class: 'cancel-edit btn' %>
    </div>
  </div>
<% end %>

<% block.fields.select(&:nested?).each do |field| %>
  <div class="nested-blocks">
    <% block.send(field.name).each do |nested_block| %>
      <%= render partial: 'superb_text_constructor/blocks/nested_fields', object: nested_block, as: :block %>
    <% end %>
    <%= link_to t('superb_text_constructor.shared.add'), create_nested_block_path(block, association: field.name, type: field.type.name), remote: true, method: :post, class: 'new-nested-block btn btn-sm btn-success' %>
  </div>
<% end %>