<div class="container">
  <%= form_for @block, url: @block.new_record? ? blocks_path : block_path(@block), html: { class: 'form-horizontal' } do |f| %>
    <%= hidden_field_tag :type, @block.type %>
    <%= f.hidden_field :type %>

    <% @block.fields.each do |field| %>
      <%= render partial: "superb_text_constructor/blocks/fields/#{field.partial}", locals: { f: f, field: field } %>
    <% end %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit t('superb_text_constructor.shared.save'), class: 'btn btn-primary' %>
        <%= link_to t('superb_text_constructor.shared.back'), root_path, class: 'btn' %>
      </div>
    </div>
  <% end %>
</div>