<div class="container">
  <div class="blocks" data-reorder-url="<%= reorder_blocks_path %>">
    <%= render partial: 'superb_text_constructor/blocks/editor/block', collection: @blocks, as: :block %>
  </div>
</div>

<div class="container">
  <% SuperbTextConstructor.blocks_for(@namespace).each do |block| %>
    <% if block.is_a?(SuperbTextConstructor::Namespace) %>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <%= t("superb_text_constructor.groups.#{block.name}") %> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% block.blocks.each do |block| %>
           <li><%= link_to t("superb_text_constructor.blocks.#{block.template}"), new_block_path(type: block.name_without_namespace) %></li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <%= link_to t("superb_text_constructor.blocks.#{block.template}"), new_block_path(type: block.name_without_namespace), class: 'btn btn-default' %>
    <% end %>
  <% end %>
</div>