<div class="form-group dropzone">
  <%= f.label field.name.to_sym, class: 'col-sm-1 control-label' %>
  <div class="col-sm-9">
    <%= f.file_field field.name.to_sym, class: 'single-fileupload form-control', data: { upload_field: field.name } %>
    <div class="single-fileupload-previews">
      <% if f.object.send("#{field.name}?") %>
        <% unless field.required? %>
          <label>
            <%= f.check_box "remove_#{field.name}".to_sym %>
            <%= t('superb_text_constructor.shared.remove') %>
          </label>
        <% end %>
        <%= image_tag f.object.send(field.name).url, width: '500px' %>`
      <% end %>
    </div>
  </div>
</div>